---
layout: default
---

<div class="content-container">
    <div class="post-grid">
        {% for post in site.posts %}
            <div class="post-card">
                {% if post.thumbnail %}
                    <div class="post-thumbnail">
                        <img src="{{ post.thumbnail | relative_url }}" alt="{{ post.title }}">
                    </div>
                {% endif %}
                <div class="post-content">
                    <h3><a href={{ post.url }} class="read-more">{{ post.title }}</a></h3>
                    {% if post.tags %}
                    <div class="post-tags">
                        {% for tag in post.tags %}
                            <span class="tag tag-{{ tag | downcase }}">
                                {% if tag == "thoughts" %}
                                    <i class="fas fa-lightbulb"></i>
                                {% elsif tag == "technical" %}
                                    <i class="fas fa-code"></i>
                                {%  elsif tag == "english" or tag == "français" %}
                                    <i class="fas fa-language"></i>
                                {% endif %}
                                {{ tag }}
                            </span>
                        {% endfor %}
                    </div>
                {% endif %}
                    <span class="post-date">{{ post.date | date: "%B %d, %Y" }} • {{ post.content | reading_time }}</span>
                    <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 12 }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>