<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, user-scalable=yes, minimum-scale=1.0, maximum-scale=5.0">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <nav aria-label="Main navigation">
                <a href="/" {% if page.url == "/" %}class="active" aria-current="page"{% endif %}><span>About</span></a>
                <a href="/news" {% if page.url contains "/news" %}class="active" aria-current="page"{% endif %}><span>Updates</span></a>
                <a href="/blog" {% if page.url contains "/blog" %}class="active" aria-current="page"{% endif %}><span>Blog</span></a>
                <a href="/projects" {% if page.url contains "/projects" %}class="active" aria-current="page"{% endif %}><span>Projects</span></a>
                <a href="/resume" {% if page.url contains "/resume" %}class="active" aria-current="page"{% endif %}><span>Resume</span></a>
            </nav>
            <p class="sidebar-copyright">&copy; {{ site.title }}</p>
        </header>
        <main class="content">
            {{ content }}
        </main>
    </div>
    <footer class="mobile-copyright">&copy; {{ site.title }}</footer>
</body>
</html>
